.td,th,tr {
    text-align: center;
}
#addBtn {
    width: 100px;
    margin: 0 auto;
    color: green;
}
#addBtnDiv {
    text-align: right;
}

.btn-toolbar {
    justify-content: center; 
    display: flex;
}